.main_banner_wrapper {
  padding: 30px 100px 60px 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1299px) {
  .main_banner_wrapper {
    padding: 20px 0 40px 0;
    overflow: hidden;
  }

  .main_banner_wrapper img {
    transform: scale(1.09);
  }
}