.delivery_title {
  margin-top: 35px;
  font-size: 85px;
  line-height: 100px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-shadow:
    -0 -1px 0 #000,
    0 -1px 0 #000,
    -0 1px 0 #000,
    0 1px 0 #000,
    -1px -0 0 #000,
    1px -0 0 #000,
    -1px 0 0 #000,
    1px 0 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.delivery_bg_img1,
.delivery_bg_img2 {
  position: absolute;
  pointer-events: none;
}

.delivery_bg_img1 img,
.delivery_bg_img2 img {
  width: fit-content;
  height: fit-content;
  object-fit: contain;
  pointer-events: none;
}

.delivery_bg_img1 {
  padding-top: 440px;
  right: 0;
}

.delivery_bg_img2 {
  padding-bottom: 200px;
  left: 0;
}

.delivery_wrapper {
  z-index: 999;
  margin: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.delivery_wrapper__item {
  flex-basis: 48%;
  padding: 45px;
  height: 789px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
}

.delivery_wrapper__item___title {
  font-size: 32px;
  line-height: 41px;
  font-weight: 700;
  text-align: center;
}

.delivery_wrapper__item___description {
  font-size: 16px;
  line-height: 20px;
}

.suppliersWrapper {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
  justify-content: center;
}

.supplierItem {
  flex-basis: 48%;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  border-radius: 10px;
  /* background-color: #000; */
  /* color: #fff; */
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
  transition: all ease-in-out 0.3s;
}

.supplierItem:hover {
  transform: scale(1.1);
}

.supplierItemInfo {
  padding: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.supplierItemImage {
  padding: 15px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.supplierItemImage img {
  height: 90px;
  object-fit: contain;
}

@media (max-width: 1299px) {
  .delivery_title {
    margin-top: 30px;
    font-size: 32px;
    line-height: 47.21px;
    text-align: center;
    color: #000;
    text-shadow: none;
  }

  .delivery_wrapper {
    padding-inline: 20px;
    z-index: 999;
    margin: 30px 0 50px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 40px;
  }

  .delivery_wrapper__item {
    height: fit-content;
    flex-basis: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
  }

  .delivery_wrapper__item___title {
    font-size: 20px;
    line-height: 26px;
  }

  .delivery_wrapper__item___description {
    font-size: 16px;
    line-height: 20px;
  }

  .supplierItem {
    flex-basis: 30%;
  }

  .supplierItemInfo {
    font-size: 14px;
    text-align: center;
  }

  .supplierItem:hover {
    transform: scale(1.0);
  }
}

@media (max-width: 550px) {
  .supplierItem {
    flex-basis: 80%;
  }

  .supplierItemInfo {
    font-size: 14px;
    text-align: center;
  }

  .supplierItem:hover {
    transform: scale(1.0);
  }
}