.contacts_title {
  margin-top: 50px;
  font-size: 85px;
  line-height: 100px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-shadow:
    -0 -1px 0 #000,
    0 -1px 0 #000,
    -0 1px 0 #000,
    0 1px 0 #000,
    -1px -0 0 #000,
    1px -0 0 #000,
    -1px 0 0 #000,
    1px 0 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.contacts_wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.map_btn {
  padding: 20px 30px;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #f77532;
  border-radius: 20px;
}