.product_detail__block___item {
  height: 108px;
  flex-basis: 22%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  background-color: #636d82;
}

.item_name {
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
  color: #fff;
}

.item_value {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}