.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #545454;
  /* justify-content: center; */
}

.banner p, span {
  font-weight: 700;
}

.banner_item__1 {
  font-size: 60px;
  line-height: 72px;
  color: #fff;
}

.banner_item__1___orange {
  color: #F77532;
}

.banner_item__2 {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}