.add_to_cart {
  padding: 10px 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f77532;
  position: absolute;
  top: 0;
  right: -100%; /* Начальное положение за пределами видимой области */
  color: #fff;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: right 0.5s ease-in-out; /* Плавное появление */
}

.card:hover .add_to_cart {
  right: 0; /* Показать кнопку при наведении */
}

.card {
  position: relative;
  overflow: hidden;
  flex-basis: 31%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.18);
}

.card_img__wrapper {
  padding: 22px;
  border-bottom: 1px solid #b4b4b4;
}

.card_text__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_text__mark {
  height: fit-content;
  color: #fff;
  background-color: #f77532;
  font-size: 16px;
  line-height: 18.88px;
  padding: 10px 22px;
  border-radius: 0 5px 5px 0;
}

.card_text__discount {
  padding-right: 22px;
  height: fit-content;
  font-size: 20px;
  line-height: 23.6px;
  color: #f77532;
  font-weight: 700;
}

.card_text__item {
  padding-inline: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_text__item___mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_text__main {
  font-size: 24px;
  line-height: 28.32px;
  font-weight: 500;
}

.card_text__secondary {
  font-size: 16px;
  line-height: 18.88px;
  font-weight: 400;
}

@media(max-width: 1299px) {
  .add_to_cart {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    position: static;
    color: #000;
    border-top: 1px solid #000;
    border-radius: 0;
  }
  
  .add_to_cart p {
    font-size: 14px;
  }

  .add_to_cart img {
    width: 15px;
    height: 15px;
    filter: brightness(0);
  }
  
  .card {
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    flex-basis: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: #fff;
    border-radius: 10px;
  }

  .card_text__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card_text__mark {
    height: fit-content;
    color: #fff;
    background-color: #f77532;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 16px;
    border-radius: 0 5px 5px 0;
  }
  
  .card_text__discount {
    padding-right: 16px;
    height: fit-content;
    font-size: 14px;
    line-height: 16px;
  }
  
  .card_text__item {
    padding-inline: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card_text__item___mark {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card_text__main {
    font-size: 16px;
    line-height: 18px;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
  
  .card_text__secondary {
    font-size: 12px;
    line-height: 14px;
  }
}