.header {
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  background-color: #545454;
}

.nav_icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_icons img {
  width: fit-content;
  height: fit-content;
}

@media (max-width: 1299px) {
  .header {
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .nav_icons {
    position: absolute;
    right: 20px;
    top: 23px;
  }
}