.slider_wrapper {
  background-color: #545454;
}

.swiper_button_prev,
.swiper_button_next {
  z-index: 999;
  border: none;
  outline: none;
  background-color: transparent;
}

.swiper_button_prev {
  position: absolute;
  top: 77%;
  transform: translateY(-50%);
  left: 70px;
}

.swiper_button_next {
  position: absolute;
  top: 77%;
  transform: translateY(-50%);
  left: 180px;
}

.sliderBox {
  width: 100%;
  position: relative;
}

/* .swiper_buttons {
  display: flex;
  gap: 10px;
} */

.swiper_slide {
  height: 100% !important;
  text-align: center;
}

.swiper_slide img {
  height: 81vh;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1299px) {

  .sliderBox {
    margin-top: 20px;
    position: relative;
  }

  .slider_wrapper {
    position: relative;
  }

  .swiper_button_prev,
  .swiper_button_next {
    width: 50px;
    height: 43px;
  }

  .swiper_button_prev {
    position: absolute;
    top: auto;
    bottom: -10px;
    transform: translateY(-50%);
    left: auto;
    right: 65px;
  }

  .swiper_button_next {
    position: absolute;
    top: auto;
    bottom: -10px;
    transform: translateY(-50%);
    left: auto;
    right: 16px;
  }

  
  .swiper_button_prev img,
  .swiper_button_next img {
    width: 100%;
    height: 100%;
  }

  .swiper_slide img {
    height: 30vh;
    width: 100%;
    object-fit: contain;
    transform: scale(1.4);
  }
}