* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --blockWidth: 1300px;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

p {
    word-break: break-all;
}

body {
    background-color: #eef0f4;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* gap: 80px; */
    /* padding-bottom: 80px; */
    background-color: #fff;

}

/* * {
    outline: 1px solid rgba(21, 255, 4, 0.6);
} */