.slider_links {
  z-index: 999;
  position: absolute;
  top: 25%;
  left: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.slider_links li a {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.slider_links li a:hover {
  border-bottom: 4px solid #f77532;
}

@media (max-width: 1299px) {
  .slider_links {
    display: none;
  }
}